body {
  background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
  background-repeat:no-repeat;
  height: 100vh;
  background-size: cover;
}

.container {
  display:flex;
  justify-content: center; /* 가로 가운데 정렬: justify-content, 세로 가운데 정렬 align-items: center */
  height: 100vh; /* container 자체 높이가 너무 작기 때문에, 100vh를 줌 */
  align-items: center;
  flex-direction: column; /* display flex로 인해서, 아이템을 다 가로로로 바꿈 =>  해결방법은 flex-direction : column; */
}

.weather-box {
  border: 1px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: beige;
}